- let currentIP = '107.3.176.194'

.banner 
   .container__fluid 
        ul.banner__list 
            li.banner__list-item You are not protected
            li.banner__list-item Your IP Address: #{currentIP}
            li.banner__list-item Your ISP: Comcast Cable
            li.banner__list-item 
                a.banner__list-learn(href="#") Learn More ›
        button.banner__close
            img(src="assets/img/close__icon.svg", alt="Close Icon")
        