footer.footer 
    .container 
        h3.footer__logo Company Name
        .footer__wrapper 
            .footer__column-first 
                h5.footer__column-title Company
                ul.footer__column-list 
                    li.footer__column-item 
                        a(href="#") About Us 
                    li.footer__column-item 
                        a(href="#") Our Team 
                    li.footer__column-item 
                        a(href="#") Careers 
                    li.footer__column-item
                        a(href="#") Press 
                    li.footer__column-item
                        a(href="#") In the Media 
                    li.footer__column-item
                        a(href="#") VPN Reviews 
                    li.footer__column-item
                        a(href="#") Companies We Support 
                    li.footer__column-item
                        a(href="#") Contact Us 
                    li.footer__column-item
                        a(href="#") Blog
            .footer__column-second 
                h5.footer__column-title programs
                ul.footer__column-list 
                    li.footer__column-item
                        a(href="#") Whitehat Security 
                    li.footer__column-item
                        a(href="#") Affiliates 
            .footer__column-third
                h5.footer__column-title learn more
                ul.footer__column-list 
                    li.footer__column-item 
                        a(href="#") VPN Encryption 
                    li.footer__column-item
                        a(href="#") Android VPN App 
                    li.footer__column-item
                        a(href="#") iOS VPN App 
                    li.footer__column-item
                        a(href="#") PIA Sitemap 
            .footer__column-fourth
                h5.footer__column-title LEGAL
                ul.footer__column-list 
                    li.footer__column-item
                        a(href="#") Terms Of Service 
                    li.footer__column-item
                        a(href="#") Privacy Policy 
                    li.footer__column-item
                        a(href="#") DMCA Policy 
                    li.footer__column-item
                        a(href="#") Export Control Policy 
            .footer__column-fifth 
                h5.footer__column-title ABOUT
                p.footer__column-text.
                    Private Internet Access is the leading VPN Service provider specializing in secure, encrypted VPN tunnels which create several layers of privacy and security providing you safety on the internet. Our service is backed by multiple gateways worldwide with access in 28+ countries, 44+ regions.
                p.footer__column-text--mini Map data provided by Google.
                p.footer__column-text--mini.
                    PC Mag Editor’s Choice award image reprinted with permission. © 2012 Ziff Davis, Inc. All Rights Reserved. PC Mag quote reprinted from www.pcmag.com with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.
                p.footer__column-text--mini.
                    © London Trust Media, Inc. All Rights Reserved.
            .footer__column-six     
                h5.footer__column-title SOCIAL
                .footer__column-social 
                    a(href="#") 
                        img(src="assets/img/facebook.svg", alt="Facebook")
                    a(href="#") 
                        img(src="assets/img/twitter.svg", alt="twitter")
                    a(href="#") 
                        img(src="assets/img/google.svg", alt="google")
                    a(href="#") 
                        img(src="assets/img/linked.svg", alt="linkedin")
                    a(href="#") 
                        img(src="assets/img/reddit.svg", alt="reddit")
                    a(href="#") 
                        img(src="assets/img/youtube.svg", alt="youtube")

                
            
            