@media only screen and (max-width: 1400px) and (min-width:1201px) {
    .container {
        max-width: 1140px;
    }

    .tags {
        &__links {
            margin-left: 155px;
        }
    }

    .content {
        &__blog {
            margin-left: 45px;
        }
    }

    .price {
        &__card {
            max-width: 366px;
        }
    }

    .footer {
        &__wrapper {
            grid-template-columns: 154px 164px 131px 570px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .header {
        &__menu {
            margin-left: 45px;
        }
    }

    .promo {
        &__content {
            padding-top: 0px;
            padding-left: 626px;
        }


    }

    .tags {
        &__links {
            margin-left: 16px;
        }

        &__list-item {
            margin-right: 27px;
        }
    }

    .content {
        &__wrapper {
            flex-wrap: wrap;
        }

        &__blog {
            position: relative;
            margin-top: 110px;
        }

        &__search {
            position: absolute;
            left: 126%;
            transform: translateX(-50%);
            top: -79px;
        }

        &__blog-lists {
            display: flex;
        }

        &__blog-wrapper {
            min-width: 400px;
            margin-right: 50px;


            &:last-child {
                margin-right: 0;
            }
        }

        &__blog-list {
            &::after {
                display: none;
            }
        }

        &__blog-tagclouds--bitmap {
            display: flex;
            justify-content: space-between;
        }

        &__tagcloud {
            margin-left: 125px;
            margin-top: 25px;
        }
    }

    .price {
        &__cards {
            display: grid;
            grid-template-columns: 1fr;
        }

        &__card {
            margin-bottom: 15px;
        }
    }

    .footer {
        &__column-fifth {
            max-width: 350px;
            margin-left: 17px;
        }

        &__column-six {
            max-width: 350px;
            margin-left: 17px;
        }
    }
}

@media (max-width: 375px) {

    .container {
        max-width: 335px;
    }

    .banner {
        &__list {
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 317px;
            font-size: 12px;
            max-width: 317px;
        }

        &__list-item {
            margin-right: 0;

            &:first-child {
                order: 0
            }

            &:nth-child(2) {
                order: 3;
                margin-top: 9px;
                margin-left: -2px;
            }

            &:nth-child(3) {
                order: 4;
                margin-top: 9px;
                margin-right: 3px;
            }

            &:last-child {
                order: 2
            }
        }

        &__list-learn {
            margin-right: 12px;
        }

        &__close {
            right: 18px;
        }


    }



    .header {
        padding-top: 24px;

        &__burger {
            display: block;
            background: none;
            border: none;
            margin-left: -10px;
            margin-top: -4px;
        }

        &__signup {
            max-width: 126px;
            margin-top: 4px;
            margin-right: -9px;

        }

        &__menu,
        &__login {
            display: none;
        }

        &__logo {
            margin-top: 4px;
            margin-left: -20px;
        }
    }

    .promo {
        margin-top: 54px;

        &__wrapper {
            background-position: top;
            margin-top: -9px;
            margin-left: -2px;
        }

        &__content {
            padding: 253px 30px 14px;
        }

        &__info {
            padding-top: 14px;
        }
    }

    .tags {
        display: none;
    }

    .content {
        position: relative;

        &__wrapper {
            flex-direction: column;
        }

        &__posts-item {
            flex-direction: column;
            align-items: center;
            margin-bottom: 7px;

            &::after {
                left: 14px;
                bottom: 13px;
            }

            &:nth-child(-n+3) {
                display: none;
            }
        }

        &__posts-info {
            min-width: auto;
            max-width: 315px;
            padding-right: 0;
            margin-right: 0;
        }

        &__search {
            position: absolute;
            left: 24px;
            top: 2px;
            width: 100%;
        }

        &__title {
            margin-top: 99px;
            margin-left: 14px;
        }

        &__posts::after {
            display: none;
        }

        &__posts-img {
            margin-right: 0;
            width: 315px;
            min-height: 200px;
        }

        &__posts-title {
            margin-top: 22px;
        }

        &__posts-author {
            margin-top: 11px;
        }

        &__btn {
            min-width: 92%;
            margin-top: 97px;
        }

        &__bitmap {
            margin-top: 28px;
            margin-left: 0;

            img {
                max-width: 315px;
            }
        }

        &__blog {
            margin-right: 35px;
            margin-left: 13px;
        }

        &__blog-item {
            padding-left: 22px;

            &::before {
                left: 13px;
                top: 9px;
            }

        }

        &__lists-title {
            margin-top: 59px;
        }

        &__tagcloud {
            margin-top: 55px;
            margin-left: 7px;
        }
    }

    .price {
        padding-top: 60px;
        padding-bottom: 40px;

        &__title {
            font-size: 32px;
            line-height: 44px;
            text-align: center;
        }

        &__cards {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 83px;
        }

        &__card {
            padding-left: 55px;
            padding-right: 55px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__card.main {
            min-height: 340px;
        }

        &__btn {
            margin-top: 10px;
        }

        &__pay {
            position: relative;
            flex-wrap: wrap;
            justify-content: center;
            gap: 28px 18px;
            margin-top: 42px;
            margin-left: -5px;

            img {
                gap: 30px;

                &:nth-child(-n+4) {
                    margin-top: 48px;
                }
            }
        }

        &__pay-text {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
        }

        &__links {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 46px;
            margin-left: 5px;
        }

        &__link {
            margin-right: 0;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .footer {
        padding-top: 44px;

        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }

        &__column-first {
            grid-area: 1 / 1 / 3 / 2;
            margin-top: -4px;
            margin-left: 3px;
            min-width: 160px;
        }

        &__column-second {
            grid-area: 1 / 2 / 2 / 3;
            margin-left: 13px;
            margin-top: -4px;
        }

        &__column-third {
            grid-area: 2 / 2 / 3 / 3;
            margin-top: -93px;
            margin-left: 13px;
        }

        &__column-fourth {
            grid-area: 3 / 1 / 4 / 2;
            margin-top: -84px;
            margin-left: 3px;

        }

        &__column-fifth {
            grid-area: 4 / 1 / 5 / 3;
            margin-top: -103px;
            margin-left: 2px;
            max-width: 315px;
        }

        &__column-six {
            grid-area: 3 / 2 / 4 / 3;
            margin-top: -83px;
            margin-left: 13px;

        }

        &__logo {
            font-size: 18px;
            line-height: 22px;
            margin-left: -2px;
        }

        &__column-social {
            flex-wrap: wrap;

            a {
                margin-right: 14px;
                margin-bottom: 20px;

                &:nth-child(2) {
                    margin-left: 10px;
                }

                &:last-child {
                    margin-top: 2px;
                    margin-right: 10px;
                }
            }
        }

    }
}