@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;400;500;700&display=swap');

$main-color: #4CB649;

@mixin under_line {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $main_color;
    bottom: 3px;
    left: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container__fluid {
    max-width: 1600px;
    position: relative;
    margin: 0 auto;
}

.btn {
    border: none;
    background: none;
    padding: 11px 0;
    border-radius: 30px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;

    &__outline {
        border: 1px solid $main-color;
        color: $main-color;
        transition: all 0.5s ease;

        &:hover {
            background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
            color: #fff;
        }
    }

    &__fill {
        background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
        color: #fff;
        transition: all 0.5s ease;

        &:hover {
            border: 1px solid $main-color;
            color: $main-color;
            background: none;
        }
    }
}


.banner {
    background-color: #22252E;
    padding: 10px 0 11px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list-item {
        color: #889099;
        margin-right: 32px;

        &:first-child {
            color: #FF8D00;
            position: relative;
            padding-left: 25px;
            font-weight: 700;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: -3px;
                width: 22px;
                height: 19px;
                background-image: url('../assets/img/warning.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    &__list-learn {
        color: #fff;
        text-decoration: none;
    }

    &__close {
        position: absolute;
        top: 1px;
        right: 34px;
        background: none;
        border: none;
        cursor: pointer;

    }
}

.header {
    padding-top: 52px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        line-height: 22px;
    }

    &__menu {
        display: flex;
        margin-left: 119px;
        margin-top: -2px;
    }

    &__menu-list {
        margin-right: 30px;
        position: relative;
        padding-bottom: 6px;

        &:not(:nth-child(2)) {
            padding-right: 20px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 7px;
                background-image: url('../assets/img/arrow_down.svg');
                background-size: cover;
                background-repeat: no-repeat;
                width: 10px;
                height: 5px;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &:before {
            opacity: 0;
            @include under_line;
            transition: 0.5s ease;
        }

        &:hover:before {
            opacity: 1;
        }
    }

    &__menu-list.active {
        position: relative;
        padding-bottom: 6px;

        &::before {
            @include under_line;
            opacity: 1;
        }
    }

    &__menu-link {
        font-size: 14px;
        color: #000;
        text-decoration: none;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__buttons {
        margin-top: -11px;
    }

    &__login {
        width: 90px;
        margin-right: 10px;
    }

    &__signup {
        width: 160px;
    }
}

.promo {
    margin-top: 46px;

    &__wrapper {
        border: 1px solid #D7D8D9;
        border-radius: 6px;
        filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
        display: flex;
        justify-content: flex-end;
        background-image: url('../assets/img/promo_img.jpg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        min-height: 400px;
        margin-top: -8px;
        margin-left: -6px;
    }

    &__content {
        // max-width: 480px;
        padding-top: 59px;
        padding-right: 60px;
        padding-left: 660px;
    }

    &__content-subtitle {
        font-size: 24px;
        font-weight: 300;
        line-height: 34px;
        color: #22252E
    }

    &__info {
        padding-top: 84px;
    }

    &__author {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    &__author-name {
        margin-right: 11px;
        color: #323642;
    }

    &__slash {
        color: #889099;
        margin-right: 8px;
    }

    &__date {
        color: #889099
    }

    &__tags {
        margin-top: 8px;
    }

    &__tags-link {
        color: $main-color;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.5px;
    }

    &__comments {
        display: flex;
        align-items: center;
        padding-left: 3px;
        margin-top: 8px;
    }

    &__comments-count {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #889099;
        margin-left: 13px;
    }

}